@model List<Doctor>

@{
    ViewData["Title"] = "Book An Appointment";
}

<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var doctor in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="@doctor.Img" class="card-img-top" alt="Doctor Image" />
                        <div class="card-body">
                            <h5 class="card-title">@doctor.Name</h5>
                            <h6>@doctor.Specialization</h6>
                            <a class="btn btn-outline-primary" asp-controller="CompleteAppointment" asp-action="CompleteAppointment" asp-route-id="@doctor.Id">
                                Book Appointment
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-danger">No doctors available at the moment.</p>
        }
    </div>
</div>


